body {
  margin: 0;
}

main {
  background-color: #F3F2F7;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
}
h3 {
  margin: 0;
  font-weight: 500;
}
p {
  margin: 0;
}

select {
  border: 0;
  background-color: #F3F2F7;
  color: #89888E;
  padding: 4px;
  border-radius: 6px;
  margin: 0 6px;
  font-weight: 500;

  -webkit-appearance: none;
  -moz-appearance: none;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #16191D;
    color: #FFFFFF;
  }
}