/* MARK: - Top Bar */

.floatingWindow {
  height: 80vh;
  width: calc(80vh / 4 * 3);
  background-color: #FFFFFF;
  border-radius: 24px;
  position: relative;
}

.topTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.topTextContainer p {
  color: #51B3AB;
}

.fromToContainer {
  padding: 0 16px;
}

/* MARK: - Calculation Numbers */

.numbersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  position: absolute;
  bottom: calc(37px + 2 * 16px + 45px);
  top: calc(69.5px + 2 * 16px + 27px);
}

.foreignContainer {
  display: flex;
  align-items: flex-start;
}
.foreignAmount {
  font-size: 72px;
  font-weight: 700;
}
.foreignCurrencyCode {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 16px 0;
}

.baseContainer {
  display: flex;
  align-items: flex-start;
}
.baseAmount {
  font-size: 34px;
  font-weight: 700;
}
.baseCurrencyCode {
  font-size: 1rem;
  font-weight: 700;
  padding: 6px 0;
}

/* MARK: - Currency Info */

.currencyInfoContainer {
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;
  bottom: calc(37px + 2 * 16px);
}

.currencyInfoContainer .flagCircle {
  height: 45px;
  width: 45px;
  font-size: 2.125rem;
  background-color: #51B3AB;
  border-radius: 22.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currencyInfoContainer .currencyTextContainer {
  display: flex;
  padding: 0 8px;
  flex-direction: column;
}
.currencyTextContainer p {
  color: #8F8E94;
}

/* MARK: - Clear Button */

.clearButton {
  border: 0;
  background-color: #F3F2F7;
  color: #51B3AB;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 16px;
  width: calc(100% - 32px);
  border-radius: 8px;
  padding: 8px 0;

  position: absolute;
  bottom: 0;
}

@media (max-width: 611px) {
  .floatingWindow {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .floatingWindow {
    background-color: #1C1B1D;
  }

  .clearButton {
    background-color: #2C2B2D;
  }
}